/* 제목 */
#award-page h3{
    font-weight: bold;
    text-align: initial;
}
/* 카테고리 */
.gold-category{
    font-weight: 300;
    color: white;
    background-color: var(--second-color);
}

/* 전체 3등분에 간격까지 조정 */
#now-award, #past-award{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    /* grid의 row간 간격을 10px로 설정한다*/
    row-gap: 10px;
    /* grid의 column간 간격을 10px로 설정한다*/
    column-gap: 10px;
}
.monthly-gold{
    background-color: var(--third-color);
    /* 양옆 꽉꽉 채우게 */
    width: 100%;
    height:100%;
}
.empty-monthly-gold div{
    color: var(--background-color);
    width: 100%;
    height:100%;
}
.year-month{
    font-size: 1.5rem;
    padding: 5px 0;
    color: white;
}
.gold-box img{
    width: 50%;
}