  #greeting{
    font-weight: 500;  
    font-size: 1.2rem;
  }
  /* todolist 작성하기 */
  input[type=date], select, input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: var(--main-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--second-color);
  }
  
  /* li의 모든것 */
  ul{
    /* 마커 지워주기 */
    list-style-type: none;
    padding: 0; 
    padding-left: 0px;
    font-size: 0.8rem;
    text-align: center;
  }
  li{
    font-weight: 500;
    padding: 5px;
    font-size: 1.01rem;
  }
  
  /* 투두리스트 이쁘게 작성 */
  ul li span {
    float: left;
  }
  #day{
    box-sizing: border-box;
    background-color: var(--main-color);
    border-radius: 15px;
    width: 60px;
    padding: 1px 0px;
    text-align: center;
    color: white;
  }
  /* 끝난건 색깔 다르게 --> todo.js에서 바꿔줌 */
  #cate, #selected-range{
    width: 80px;
    padding: 0px 7px;
  }
  #span, #selected-category{
    width: 110px;
  }
  #todolist li button{
    /* 오엑스 맨 뒤에 딱붙게*/
    float: right;
  }

/* 메인페이지 디데이별로 순서정렬 */
#todolist{
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    }