:root{
    --background-color:#E3E6F2;
    --main-color:#FFA602;
    --second-color:#5968B0;
    --third-color:#8CC9F7;
    --gagebar-color:#c8e5fc;
    --underline-color:#ccc;
    --back-color:#fff
  }
  
  @font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  body{
    font-family: 'EliceDigitalBaeum_Regular';
    margin: 0 auto;
    text-align: center;
    background-color: var(--background-color);
    color: var(--second-color);
    font-weight: 500;
  }
  .hidden{
      display: none;
  }

/* 공통분모 */
  /* 버튼모양 리셋 */
  input, button{
    background: 0;
    border: 0;
    outline: none;
    color: var(--second-color);
    font-weight: 500;
  }
  #change-button, #exit, #exit-award{
    padding: 20px;
    font-size: 1.02rem;
  }
  /* 새로운 버튼모양 */
  #write-todo, #medal-button, #go-to-medal{
    box-sizing: border-box;
    background-color: var(--second-color);
    color: white;
    width: 200px;
    height: 40px;
    font-size: 1.1rem;
    font-weight: 200;
  }

  /* 전체 페이지 세로 가운데정렬*/
  .for-center{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* 이 밑의 2개 해야지만 위아래 안 잘림..;; */
    max-height: 100%; 
    overflow-y: auto;
  }
  /* page padding 싹정리 */
  #login-form, #mainpage, #show-or-none, #category-page, #result-page, #award-page{
    padding:20px;
    position: relative;
  }
  #mainpage, #category-page, #result-page, #award-page{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  /* 블링블링 추가 */
  /* #mainpage img{

  } */
  /* title */
  .title, #clock{
    color: var(--second-color);
    font-size: 3.5rem;
    font-family: 'EliceDigitalBaeum_Bold';
    padding: 20px 0px;
  }
  /* sub */
  .sub{
    padding: 0 0 20px 0; 
  }


/* 애니메이션모음 */
.bigger{
  animation: big 1s 1s infinite alternate;
}
@keyframes big { 
  0% {opacity:0;} 
  100% {opacity:1;} 
} 
/* 일반적인 resultBar를 위함 */
.animate__tada {
  animation-iteration-count: infinite;
}
.animate__heartBeat{
  animation-iteration-count: infinite;
}
/* 이름 물어보기 로고!! */
#login-form img{
  width: 80%;
  padding: 50px 0;
}

/* Tip 총정리 */
.tips{
  font-size: 0.8rem;
  padding: 20px 0;
}
.yellow{
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 0 5px;
  color: white;
}

/* 알림창 꾸미기 */
.swal-button--confirm{
  background-color: var(--second-color);
}